@import './GlobalStyle';

.main-body-3-contents > .body-3-title-1{
    font-size:3rem;
    font-weight: 700;
    margin: 30px 0px 0px 0px;
}
.main-body-3-contents > .body-3-para-1{
    font-size:25px;
    font-style: italic;
    word-wrap: break-word;
    margin: 0px;
}
.main-body-3 > .main-body-3-contents{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
.main-body-3-images-contents-1 > .gra-1{
    width: 600px;
    height: auto;
    // max-width: 80%;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}
.main-body-3-images-contents-1 > .gra-1:hover{
    transition: all 0.3s ease;
    transform: scale(0.97);
}
.main-body-3-images-contents-1 > .college-1{
    width: 600px;
    height: auto;
    // max-width: 80%;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}
.main-body-3-images-contents-1 > .college-1:hover{
    transition: all 0.3s ease;
    transform: scale(0.97);
}
.main-body-3-images-contents-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
.main-body-3-images-contents-2 > .scl12-1{
    width: 600px;
    height: auto;
    // max-width: 80%;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}
.main-body-3-images-contents-2 > .scl12-1:hover{
    transition: all 0.3s ease;
    transform: scale(0.97);
}
.main-body-3-images-contents-2 > .scl10-1{
    width: 600px;
    height: auto;
    // max-width: 80%;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}
.main-body-3-images-contents-2 > .scl10-1:hover{
    transition: all 0.3s ease;
    transform: scale(0.97);
}
.main-body-3-images-contents-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
.main-body-3-images{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

//mobile view image
.main-body-3-images-contents-1 > .mobView-1{
    width: 300px;
    height: auto;
    display: none;
}
.main-body-3-images-contents-2 > .mobView-1{
    width: 300px;
    height: auto;
    display: none;
}

@media(max-width:1220px){

    .main-body-3-images-contents-1 > .gra-1{
        width: 450px;
        height: auto;
        // max-width: 80%;
        overflow: hidden;
    }
    .main-body-3-images-contents-1 > .college-1{
        width: 450px;
        height: auto;
        // max-width: 80%;
        overflow: hidden;
    }
    .main-body-3-images-contents-2 > .scl12-1{
        width: 450px;
        height: auto;
        // max-width: 80%;
        overflow: hidden;
    }
    .main-body-3-images-contents-2 > .scl10-1{
        width: 450px;
        height: auto;
        // max-width: 80%;
        overflow: hidden;
    }
}
@media(max-width: 465px){

    .main-body-3-images-contents-1 > .gra-1{
        display: none;
    }
    .main-body-3-images-contents-1 > .college-1{
        display: none;
    }
    .main-body-3-images-contents-2 > .scl12-1{
        display: none;
    }
    .main-body-3-images-contents-2 > .scl10-1{
        display: none;
    }

    // mobile view 
    .main-body-3-images-contents-1 > .mobView-1{
        display: block;
    }
    .main-body-3-images-contents-2 > .mobView-1{
        display: block;
    }
}