@import '../style/GlobalStyle';

body{
    margin: 0px;
}
.main-body-1{
    background-color:$purple-color;
    width: auto;
    max-width: 100%;
    margin: 30px 0px;
    overflow: hidden;
}
.main-body-1-1{
    display: flex;
    flex-direction: column;
}
.web-image{
    width: 300px;
    height:300px;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 20px;
}
.web-image:hover{
    transition: all 0.3s ease;
    transform:scale(0.97);
}
// .main-body-1-contents p{
//     margin: 0px;
// }
.main-body-1-contents h1{
    margin: 0px;
}
.main-body-1-contents{
    margin: 0px 0px;
    color:#fff;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    gap: 10px;
    transition: all 0.3s ease;
    padding: 20px;
}
.body-1-title-1{
    font-size:25px;
}
.body-1-title-2{
    font-size:3rem;
}
.body-1-para-1{
    font-size:1.2rem;
}
.main-body-1-images{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: auto;
    gap: 40px;
    padding: 30px;
    flex-wrap: wrap;
}

// @media(max-width:400px){
//     .main-body-1-images{
//         padding: 0px;
//     }
// }
